* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  background-color: #f3a4a4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  color: black;
  margin-bottom: 20px;
}

.container {
  max-width: 500px;
  width: 100%;
  background-color: rgb(226, 229, 231);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.input-box button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.input-box button:hover {
  background-color: #45a049;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #d89a9a;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #5cb85c;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.list {
  width: 100%;
}

.list ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.list li:hover {
  background-color: #f0f0f0;
}

.task-text {
  display: flex;
  align-items: center;
}

.task-text input[type="checkbox"] {
  margin-right: 10px;
}

.deleteicon, .editicon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

